* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

.page-container {
    position: relative;
}

.header {
    background: #1F2937; 
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.logo {
    font: 24px;
    color: #F9FAF8;
    display: flex;
    align-self: center;
    font-weight: 700;
}

.right-links {
    display: flex;
    gap: 30px;
}

.section-one {
    background: #1F2937;
    display: flex; 
    justify-content: space-evenly;
    align-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    flex-wrap: wrap;
    gap: 30px;
}

.left {
    width: 400px;
}

.right img {
    width: 450px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.left button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;
    font-weight: 700;
}

.left button:hover {
    background: #F9FAF8;
    color: #3882F6;
    cursor: pointer;
}

h2 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

.section-two {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 65px;
    flex-wrap: wrap;
}

.lower-header {
    font-size: 36px;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 32px;
}

.info-container {
    display: flex;
    justify-content: space-evenly;

}

.info img {
    width: 250px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.section-three {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

.quote {
    display: flex;
    font-size: 36px;
    font-weight: 400;
    color: #1F2937;
    width: 800px;
    padding-bottom: 10px;
}

.testimonial {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    width: 800px;
    justify-content: right;
    padding-right: 100px;
}

/* Call to action section */
.section-four {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    height: 65px;
    padding: 50px 320px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.section-four button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    padding: 8px 24px;
    font-weight: 700;
}

.section-four button:hover {

    background: #F9FAF8;
    border: 2px solid #3882F6;
    color: #3882F6;


    cursor: pointer;
}

.action-left {
    width: 550px;
}

.action {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
} 

.action-info {
    color: #F9FAF8;
}

/* Footer */
.footer {
    display: flex;
    padding: 16px;
    height: 64px;
    background: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
}
